@model IEnumerable<ProjectAgileWeb7.Models.Booking>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Bookings</h1>

<p class="float-lg-right">
    <a asp-action="Create" class="btn btn-success"><i class="fas fa-plus-circle"></i>&nbsp; Create New Booking</a>
</p>
<div class="table-responsive">
    <table class="table table-hover">
        <thead class="thead-dark">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Id)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Room)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CheckIn)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CheckOut)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Status)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.User)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
            <tr>
                <td>
                    @Html.DisplayFor(model => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Room.RoomId)
                </td>
                <td>
                    @item.CheckIn.ToString("yyyy-MMMM-dd", new System.Globalization.CultureInfo("en-US"))
                </td>
                <td>
                    @item.CheckOut.ToString("yyyy-MMMM-dd", new System.Globalization.CultureInfo("en-US"))
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Status)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.User.UserName)
                </td>
                <td class="btn-group">
                    <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-outline-warning"><i class="fas fa-edit"></i>&nbsp; Edit</a>
                    <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-outline-info ml-1"><i class="fas fa-info-circle"></i>&nbsp; Details</a>
                    <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-outline-danger ml-1"><i class="fas fa-trash-alt"></i>&nbsp; Delete</a>
                </td>
            </tr>
            }
        </tbody>
    </table>
</div>
