@model IEnumerable<ProjectAgileWeb7.Models.HotelFacility>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="float-lg-right">
    <a asp-action="Create" class="btn btn-success"><i class="fas fa-plus-circle"></i>&nbsp; Add Facility to Hotel</a>
    <a asp-area="Identity" asp-page="/Account/Manage/Index" class="btn btn-outline-primary"><i class="fas fa-arrow-alt-circle-left"></i>&nbsp; Back to Profile</a>
</div>

<h1>Facilities per Hotel</h1>

<div class="table-responsive">
    <table class="table table-hover">
        <thead class="thead-dark">
            <tr>
                <th class="mobile-toggle">
                    Hotel Id
                </th>
                <th>
                    Hotel Name
                </th>
                <th class="mobile-toggle">
                    Facility Id
                </th>
                <th>
                    Facility
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td class="mobile-toggle">
                        @Html.DisplayFor(modelItem => item.Hotel.HotelId)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Hotel.Name)
                    </td>
                    <td class="mobile-toggle">
                        @Html.DisplayFor(modelItem => item.Facility.FacilityId)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Facility.Name)
                    </td>
                    <td class="mobile-toggle">
                        <a asp-action="Delete" asp-route-hotelId="@item.HotelId" asp-route-facilityId="@item.FacilityId" class="btn btn-outline-danger ml-1"><i class="fas fa-trash-alt"></i>&nbsp; Delete</a>
                    </td>
                    <td class="button-group-icons">
                        <a asp-action="Delete" asp-route-hotelId="@item.HotelId" asp-route-facilityId="@item.FacilityId" class="btn btn-outline-danger ml-1"><i class="fas fa-trash-alt"></i></a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
