@model IEnumerable<ProjectAgileWeb7.Models.Hotel>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="float-lg-right">
    <a asp-action="Create" class="btn btn-success"><i class="fas fa-plus-circle"></i>&nbsp; Add New Hotel</a>
    <a asp-area="Identity" asp-page="/Account/Manage/Index" class="btn btn-outline-primary"><i class="fas fa-arrow-alt-circle-left"></i>&nbsp; Back to Profile</a>
</div>

<h1>Hotels</h1>

<div class="table-responsive">
    <table class="table table-hover">
        <thead class="thead-dark">
            <tr>
                <th class="mobile-toggle">
                    Id
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th class="mobile-toggle">
                    @Html.DisplayNameFor(model => model.Address)
                </th>
                <th class="mobile-toggle">
                    @Html.DisplayNameFor(model => model.City)
                </th>
                <th class="mobile-toggle">
                    @Html.DisplayNameFor(model => model.Country)
                </th>
                <th class="mobile-toggle">
                    @Html.DisplayNameFor(model => model.Stars)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td class="mobile-toggle">
                        @Html.DisplayFor(modelItem => item.HotelId)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td class="mobile-toggle">
                        @Html.DisplayFor(modelItem => item.Address)
                    </td>
                    <td class="mobile-toggle">
                        @Html.DisplayFor(modelItem => item.City)
                    </td>
                    <td class="mobile-toggle">
                        @Html.DisplayFor(modelItem => item.Country)
                    </td>
                    <td class="mobile-toggle">
                        @Html.DisplayFor(modelItem => item.Stars)
                    </td>
                    <td class="btn-group mobile-toggle">
                        <a asp-action="Edit" asp-route-id="@item.HotelId" class="btn btn-outline-warning"><i class="fas fa-edit"></i>&nbsp; Edit</a>
                        <a asp-action="Details" asp-route-id="@item.HotelId" class="btn btn-outline-info ml-1"><i class="fas fa-info-circle"></i>&nbsp; Details</a>
                        <a asp-action="Delete" asp-route-id="@item.HotelId" class="btn btn-outline-danger ml-1"><i class="fas fa-trash-alt"></i>&nbsp; Delete</a>
                    </td>
                    <td class="btn-group button-group-icons">
                        <a asp-action="Edit" asp-route-id="@item.HotelId" class="btn btn-outline-warning"><i class="fas fa-edit"></i></a>
                        <a asp-action="Details" asp-route-id="@item.HotelId" class="btn btn-outline-info ml-1"><i class="fas fa-info-circle"></i></a>
                        <a asp-action="Delete" asp-route-id="@item.HotelId" class="btn btn-outline-danger ml-1"><i class="fas fa-trash-alt"></i></a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
