@model ProjectAgileWeb7.Models.Payment

@{
    ViewData["Title"] = "Checkout";
}

<form asp-controller="Checkout" asp-action="Checkout" method="post">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">
                Step 2: Payment details
            </h5>
            Price per night: <label class="perNightPriceDisplay">@ViewBag.RoomPrice.ToString("F")</label><br />
            Number of nights: @ViewBag.NumberOfNights<br />
            Total price: <label class="totalPriceDisplayLabel">@ViewBag.TotalPrice.ToString("F")</label>
            <input type="hidden" asp-for="@Model.Amount" class="totalPriceHidden" val="" style="width:100px" />
            <br />

            <p>
                Currency:&nbsp;
                @Html.DropDownListFor(m => m.Currency,
                    new SelectList(Enum.GetValues(typeof(Currency))),
                    new { @class = "selectedCurrency" })&nbsp;
                <svg data-toggle="tooltip" title="Choose which currency to display and book in." width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" d="M8 16A8 8 0 108 0a8 8 0 000 16zm.93-9.412l-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533L8.93 6.588zM8 5.5a1 1 0 100-2 1 1 0 000 2z" clip-rule="evenodd" />
                </svg>
            </p>
            <br /><br />
            <h6 class="card-text font-weight-bold">Select your payment method:</h6>
            <div>
                @foreach (var item in Enum.GetValues(typeof(CardType)))
                {
                    @Html.RadioButtonFor(p => Model.Type, @item)

                    <label>@item</label>
                    <br />
                }
                <span asp-validation-for="@Model.Type" class="text-danger"></span><br /><br />

                <h6 class="card-text font-weight-bold">First name:</h6>
                <p class="card-text text-muted">Enter the <span class="font-weight-bold">first</span> name that's written on the card.</p>
                <input asp-for="@Model.CardHolderFirstName" />
                <span asp-validation-for="@Model.CardHolderFirstName" class="text-danger"></span><br /><br />

                <h6 class="card-text font-weight-bold">Last name:</h6>
                <p class="card-text text-muted">Enter the <span class="font-weight-bold">last</span> name that's written on the card.</p>
                <input asp-for="@Model.CardHolderLastName" />
                <span asp-validation-for="@Model.CardHolderLastName" class="text-danger"></span><br /><br />

                <h6 class="card-text font-weight-bold">Card number:</h6>
                <p class="card-text text-muted">Enter the card number</p>
                <input asp-for="@Model.CardNumber" />
                <span asp-validation-for="@Model.CardNumber" class="text-danger"></span><br /><br />

                <h6 class="card-text font-weight-bold">CVV:</h6>
                <p class="card-text text-muted">Enter the Card Verification Value number</p>
                <input asp-for="@Model.CVV" />
                <span asp-validation-for="@Model.CVV" class="text-danger"></span><br />
                <a href="https://www.cvvnumber.com/cvv.html" target="_blank" class="text-muted font-weight-light">What is my CVV code?</a><br /><br /><br />

                <button type="submit" class="btn btn-success" id="submit-btn">Confirm booking</button>
                <a asp-action="BookingConfirmation" asp-controller="HotelDetailsController" class="btn btn-danger">Cancel booking</a>
            </div>
            <br />
        </div>
    </div>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script src="~/js/currencyConverter.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.bundle.min.js"></script>

}