@model ProjectAgileWeb7.Models.HotelsViewModel

<partial name="_SearchPartial" />

@if (Model.Hotels.Count() == 0)
{
    <h1>No results</h1>
}
else
{

    <div class="d-flex big-container">
        <div class=" border border-light p-0 mt-4 mr-2  rounded filter-form">
            <button type="button" id="filter-button" class="btn btn-outline-success btn-block mb-1" data-toggle="collapse" data-target="#filter-form-id"><i class="fas fa-filter"></i> Filter hotels by</button>
            <form id="filter-form-id" class="collapse" asp-controller="Home" asp-action="Filter" method="post">
                <p id="filter-title" class="ml-3 mt-2"><strong>Filter hotels by</strong></p>
                <div class="form-group ml-2">
                    <p class="ml-2">Facilities</p>

                    @foreach (var facility in (List<Facility>)ViewBag.Facilities)
                    {
                        <div class="custom-control custom-checkbox">
                            <input class="custom-control-input" name="Facilities" value="@facility.FacilityId" type="checkbox" id="facility_@facility.FacilityId" />
                            <label class="custom-control-label" for="facility_@facility.FacilityId">@facility.Name</label>
                        </div>
                    }

                </div>
                <div class="form-group ml-2">
                    <p class="ml-2">Stars</p>
                    @foreach (var star in (List<int>)ViewBag.Stars)
                    {
                        <div class="custom-control custom-checkbox">
                            <input name="StarsList" value="@star" type="checkbox" id="star_@star" class="custom-control-input">

                            <label for="star_@star" class="custom-control-label">
                                @for (var i = 0; i < @star; i++)
                                {
                                    <i class="fas fa-star text-warning "></i>
                                }
                            </label>
                        </div>
                    }
                </div>
                <div class="form-group ml-2">
                    <p>Distance from city center</p>
                    @foreach (var element in Enum.GetValues(typeof(DistanceEnum)))
                    {
                        <div class="custom-control custom-checkbox">
                            <input name="DistanceList" value="@((Int32)element)" type="checkbox" id="d_@((Int32)element)" class="custom-control-input">

                            <label for="d_@((Int32)element)" class="custom-control-label">
                                Less then @((Int32)element) km
                            </label>
                        </div>
                    }
                </div>
                <div class="form-group">
                    <input type="submit" value="Filter" class="btn btn-primary float-right mr-2 filter-button" />
                </div>
            </form>
        </div>

        <div class="container  p-0 m-0">
            @foreach (var item in Model.Hotels)
            {
                <div class="card-deck">
                    <div class="card mt-4">
                        <div class="card-header m-0 pb-0 border-bottom-0 bg-white">
                            <a asp-controller="Favorites" asp-action="GetHotelIdFromIndex" asp-route-id="@item.HotelId" class="btn btn-lg float-right @(Model.FavoriteHotels.Contains(@item.HotelId) ? "text-success" : "text-dark")" id="favorite-button"><i class="fas fa-heart"></i></a>
                        </div>
                        <div class="card-body pb-0 pt-0 d-flex">
                            <div class="text-center">
                                <img class="hotel-image" src=@Url.Content(@item.ImageUrl) />
                            </div>
                            <div class="ml-3 w-100">
                                <div>
                                    <h2 class="hotel-name text-break">   @item.Name  </h2>
                                </div>
                                <div>
                                    @for (var i = 0; i < item.Stars; i++)
                                    {
                                        <i class="fas fa-star text-warning "></i>
                                    }
                                </div>
                                <div>
                                    <p>
                                        @item.Address, @item.ZipCode, @item.City, @item.Country
                                    </p>
                                    <p>
                                        Distance from centre: @item.DistanceFromCenter km.
                                    </p>
                                </div>
                                <div class="card-text text-justify">
                                    <p>@item.Description</p>
                                </div>
                                <div>
                                    <p>
                                        Facilities: &nbsp;
                                        @foreach (var facility in @item.HotelFacilities)
                                        {
                                            <span class="mr-1">@facility.Facility.Name</span>
                                        }
                                    </p>
                                </div>
                                <div class="card-text">
                                    <p> <a href="@item.Website">@item.Website</a></p>
                                </div>
                            </div>
                        </div>
                        <div class="card-footer pt-0 pl-0 border-top-0 bg-white">
                            @if (Model.CheckIn != Convert.ToDateTime("1/1/0001") && Model.CheckOut != Convert.ToDateTime("1/1/0001"))
                            {
                                <a asp-controller="HotelDetails" asp-action="HotelPage" asp-route-id="@item.HotelId" class="btn my-button btn-lg btn-success float-right ">See details</a>
                            }
                            else
                            {
                                <button class="btn my-button btn-lg btn-outline-success float-right">Select dates to see hotel details</button>
                            }
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
}
