@model ProjectAgileWeb7.Models.Room

@{
    var user = ViewBag.User as ApplicationUser;
    var payment = ViewBag.Payment as Payment;
}

<div class="card">
    <div class="card-header">
        <h3 class="text-center">
            @Model.Hotel.Name,<br />
            @Model.RoomType room
        </h3>
        <div class="mr-2 text-center">
            <img class="hotel-image" src=@Url.Content(@Model.Hotel.ImageUrl) />
        </div>
    </div>
    <div class="card-body">
        <br />
        <h5 class="card-title">@Model.RoomDescription</h5>
        <p class="card-text">
            Price per night: @Model.RoomPrice.ToString("F")<br />
            Capacity: @Model.Capacity persons<br />
            Number of beds: @Model.NumberOfBeds<br />
        </p>
        <a asp-action="Index" asp-controller="Home" class="btn btn-primary">Back to homepage</a>
    </div>
</div>
<br />

<div class="card">
    <div class="card-body">
        <br />
        <h5 class="card-title">
            Step 1: Personal details
        </h5>
        <div>
            <h6 class="card-text font-weight-bold">Email:</h6>
            <p class="card-text text-muted">Enter the booking persons email.</p>
            <input asp-for="@user.Email" /><br />
            <h6 class="card-text font-weight-bold">Phone number:</h6>
            <p class="card-text text-muted">Add a phone number so we can contact you if necessary.</p>
            <input asp-for="@user.PhoneNumber" /><br />
        </div>
        <br />
    </div>
</div>
<br />

<div class="card">
    <div class="card-body">
        <h5 class="card-title">
            Step 2: Payment details
        </h5>
        <div>
            @foreach (var item in Enum.GetValues(typeof(CardType)))
            {
                @Html.RadioButtonFor(p => payment.Type, @item)

                <label>@item</label>
                <br />
            }
            <h6 class="card-text font-weight-bold">First name:</h6>
            <p class="card-text text-muted">Enter the <span class="font-weight-bold">first</span> name that's written on the card.</p>
            <input asp-for="@payment.CardHolderFirstName" /><br /><br />
            <h6 class="card-text font-weight-bold">Last name:</h6>
            <p class="card-text text-muted">Enter the <span class="font-weight-bold">last</span> name that's written on the card.</p>
            <input asp-for="@payment.CardHolderLastName" /><br /><br />
            <h6 class="card-text font-weight-bold">Card number:</h6>
            <p class="card-text text-muted">Enter the card number</p>
            <input asp-for="@payment.CardNumber" /><br /><br />
            <a asp-action="BookingConfirmation" asp-controller="HotelDetails" asp-route-id="@Model.RoomId" class="btn btn-success">Confirm booking</a>
            <a asp-action="BookingConfirmation" asp-controller="HotelDetails" class="btn btn-danger">Cancel booking</a>
        </div>
        <br />
    </div>
</div>
