@model ProjectAgileWeb7.Models.Room

@{
    var user = ViewBag.User as ApplicationUser;
    var payment = ViewBag.Payment as Payment;
}

<div class="card">
    <div class="card-header border-bottom-0 bg-white">
        <h2 class="hotel-name ">
            @Model.Hotel.Name
            <span class="float-right">
                @for (var i = 0; i < Model.Hotel.Stars; i++)
                {
                    <i class="fas fa-star text-warning "></i>
                }
            </span>
        </h2>
    </div>

    <div class="card-body pb-0 pt-0 d-flex">
        <div class="text-center">
            <img class="hotel-image mt-1  mb-1 mr-1" src=@Url.Content(@Model.RoomImageUrl) />
        </div>
        <div class="w-100">
            <div class="card-text mb-2  ">
                <div class="list-group-item d-flex  border-left-0 border-right-0 border-top-0 border-bottom-0 h4">
                    @Model.RoomType Room
                </div>

                <div class="list-group-item d-flex justify-content-between border-top align-items-center">
                    Price/Night:
                    <span class="text-primary">@Model.RoomPrice.ToString("F") @Currency.SEK</span>
                </div>
                <div class="list-group-item d-flex justify-content-between align-items-center">
                    Max number of guests:
                    <span class="text-primary">@Model.Capacity persons</span>
                </div>
                <div class="list-group-item d-flex justify-content-between align-items-center">
                    Number of beds:
                    <span class="text-primary">@Model.NumberOfBeds</span>
                </div>
            </div>
        </div>
    </div>
</div>

<a asp-action="Index" asp-controller="Home" class="btn btn-primary mb-3 mt-3"><i class="fas fa-arrow-alt-circle-left"></i>&nbsp; Back to homepage</a>


<div class="card">
    <div class="card-body">
        <br />
        <h5 class="card-title">
            Personal details
        </h5>
        <div>
            <h6 class="card-text font-weight-bold text-primary">Email:</h6>
            <p class="card-text text-muted">Enter the booking persons email.</p>
            <input class="form-control col-3 payment-input" asp-for="@user.Email" /><br />
            <h6 class="card-text text-primary font-weight-bold mt-2">Phone number:</h6>
            <p class="card-text text-muted">Add a phone number so we can contact you if necessary.</p>
            <input class="form-control col-3 payment-input" asp-for="@user.PhoneNumber" /><br />
        </div>
        <br />
    </div>
</div>
<br />

<a asp-action="Checkout" asp-controller="Checkout" class="btn btn-success">Proceed to Checkout</a>
